<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Echo Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Lab 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lab 2 - Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lab 2 - Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lab 3 - Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Lab 4 - Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Lab-4.server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>who2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC061A2F1391C446003293FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC061A411391C76C003293FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC061A521395D107003293FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCB78442139F23CB00B79216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCB7848413A14DC300B79216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE296B113554FD20086B70A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE9F7EF136F528A009CF18E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE9F7FC136F529A009CF18E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
