<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lab-1.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>lab-2.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lab-3.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>lab-4.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lab-5.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>lab-6.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC474EC2132991380098660D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC474ED01329918D0098660D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC718EC213295B2A00DDBC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF8C77613295C9800CB0B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF8C78513295CE100CB0B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF8C79213295CEF00CB0B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF8C79F13295D0300CB0B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF8C7AC13295D0A00CB0B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF8C7B913295D1200CB0B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCF8C7C613295D1900CB0B68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
